<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkRk1m72OJD9Kc4DX_OJMi8Sl2tPHM3EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193737354174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthsyncApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>signup-813b6</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-813b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193737354174:ios:77f4c7acdd6e76aa26a7ef</string>
</dict>
</plist>